@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,100&display=swap");

*{
  box-sizing: border-box !important;
  font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --btn-background-primary: rgb(5, 106, 134);
  --btn-background-secondary: rgb(78, 22, 135);
  --btn-background-success: rgb(26, 160, 26);
  --btn-background-warning: rgb(226, 170, 0);
  --btn-background-error: rgb(124, 4, 4);

  --color-background-primary: white;
  --color-font-primary: black
}

body{
  margin: 0;
  padding: 0;
  background-color: #F4F3F4;
}
